body{ 
margin: 0px;
background-color: #313131;
font-family: 'Montserrat';
color: #c7ec6e;
line-height: 20px;

 }
 header{
text-align: center;
font-family: 'Oleo Script Swash Caps', cursive;
font-size: 35px;
letter-spacing: 3px;
line-height: 75px;
text-overflow: initial;
background-color: #c7ec6e;
color: #313131;
padding-bottom: 10px;

 }
 header img {
 margin: 0;
 background-size: 100%;
 background-repeat: no-repeat;
 padding: 0px ;
 max-width: 100%;
 height: auto;
 
 }

 main{margin: 20px;}

 a{ color: lightyellow;
 	line-height: 30px;

 }
 
 a:hover{
color: orange;

 }

 .myDiv1 { line-height: 25px;
  }

footer{
background-color: #c7ec6e;
padding: 50px;
text-align: center;
color: #313131;
font-size: 25px;

}
